<div class="main-content">
    <div class="section-contebt section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- loop over the collection of products -->
                <div *ngFor = "let tempProdyuct of products" class="col-md-3">
                    <div class="product-box">
                        <img src="{{ tempProdyuct.imageUrl }}" class="img-responsive">
                        <h1>{{tempProdyuct.name}}</h1>
                        <div class="price">{{tempProdyuct.unitPrice | currency:'USD'}}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>